@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;700&display=swap');


:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #E3371E;
}


* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15% ;
}

.navegador {
    display: flex;
    gap: 80px;
}

.link_menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-terciaria)
}

.titulo-destaque {
    color: var(--cor-terciaria)
}

.apresentacao {
    padding: 12% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo_conteudo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.paragrafo_principal {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;

}

.links {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.links_link {
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
}


.apresentacao__imagem {
    width: 50%;
}


.links_link:hover {
    background-color: #272727;
}

.rodape {
    color: white;
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width: 1200px){
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .cabecalho{
        padding: 10%;
    }

    .navegador{
        justify-content: center;
    }
    
}
